<!-- formulaire de recherche -->
<div class="container">
  <form (ngSubmit)="startSearch()" [formGroup]="searchForm" class="form-inline well well-in">

    <div class="form-group form-inline col-md-5">
      <label for="filmSearch">Veuillez entrez un titre de film</label>
      <input type="text" name="titre" id="filmSearch" class="form-control" placeholder="Titre du film"
        formControlName="titre">
    </div>
    <div>
      <div class="form-group form-inline col-md-5">
        <label for="annee">Veuillez choisir une année</label>
        <input type="number" name="annee" id="annee" min="1900" max="2022" step="1" value="2018" class="form-control"
          formControlName="annee">
      </div>
    </div>
    <button class="justify-content-center" type="submit" class="btn btn-primary">Rechercher</button>
  </form>

</div>
<!-- liste des résultats -->
<div>

  <div *ngIf="errors" class="alert-danger">
    <strong>Aucun résultat !</strong>
    {{errors}}
  </div>
  <div *ngIf="results" class="list-group" [movieList]="results">


  </div>
</div>
